sidenav1 {
    height: 100%;
    width: 50;
    position: absolute;
    left: 10px;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a , li {
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .active {
    background: #5e98ca !important;
    color: #818181;
}

.sidenav a:hover {
    color: #5e98ca;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}